.chart-tracks {
    margin: 32px;
}


@media only screen and (max-width: 768px) {
    .chart-tracks {
        margin: 8px;
    }
  }

.track-transition {
    &-enter {
        opacity: 0;
    }

    &-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }

    &-exit {
        opacity: 1;
    }

    &-exit-active {
        opacity: 0;
        transition: opacity 500ms ease-in;
    }
}
