$minTabletScreen: 768px;

.navbar {
  position: relative;
  width: 230px;
  padding-top: 24px;
  overflow: hidden;

  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.3s;

  &_wrapper {
    position: fixed;
  }

  &_link {
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: $minTabletScreen) {
  .navbar {
    width: 62px;
    padding-top: 12px;

    &_wrapper {
      position: relative;
    }
  }

  .logo {
    padding-left: 8px !important;

    &_title {
      display: none;
    }
  }
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 24px;

  &_title {
    margin-left: 12px;
    font-size: 1.5rem;
    font-weight: 700;
  }
}
