.tab-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 16px;
  padding: 8px 0;
  letter-spacing: 2px;
  font-weight: 900;
  border-bottom: 4px solid transparent;
  transition: 0.3s;

  &:hover {
    border-bottom: 4px solid #1db954;
    cursor: pointer;

    .tab-item_link {
      opacity: 1;
    }
  }

  &_icon {
    padding-left: 20px;
  }

  &_link {
    font-size: 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}
