.track {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 54px;
    //width: 100%;
    padding: 6px 8px;
    transition: .3s;


    &:hover {
        background-color: rgba(0, 0, 0, .3);
    }

    &_info {
        position: relative;
        width: 100%;
        text-align: left;
    }

    &_play {
        align-self: flex-start;
        margin: 10px 10px 0 0;
        cursor: pointer;
    }


    &_title {
        padding: 0 8px;
    }

    &_duration {
        opacity: .6;
    }

    &_cover {
        height: 50px;
        width: 50px;
        margin: 0 4px;
    }

    &_artist {
        padding: 0 8px;
        opacity: .6;

        &:hover {
            text-decoration: underline;
        }
    }
}