$backgroundColor: #282828;
$baseBarColor: #404040;

.player {
  display: grid;
  grid-template-areas:
    "info play vol"
    "info range vol";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1.4fr 1fr;
  align-items: center;
  justify-items: center;

  //position: fixed;
  height: 91px;
  width: 100%;
  min-width: 704px;
  bottom: 0;
  padding: 12px;
  box-sizing: border-box;
  background: $backgroundColor;
  z-index: 2;
}

.progress {
  grid-area: range;
  position: relative;
  height: 4px;
  width: 100%;
  background: $baseBarColor;
  border-radius: 2px;
  z-index: 2;

  &_base {
    position: absolute;
    height: 4px;
    width: 0%;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    background: #b3b3b3;
    transition: 0.2s;
  }

  &_slider {
    position: absolute;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    left: 0%;
    bottom: -4px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
  }
}