.app {
    display: grid;
    grid-template-columns: 230px 1fr;
    height: 100%;
    min-height: 764px;
    //background-image: linear-gradient(to right bottom, rgb(137, 16, 42), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);

}