.btn {
    display: inline-block;
    padding: 11px 44px;
    
    border: none;
    border-radius: 50px;

    color: #fff;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;

    z-index: 2;

    cursor: pointer;

    &--green {
        background: #1db954;
    }

    &:hover {
        background: #1ed680;
    }
}