.btn {
    display: inline-block;
    padding: 11px 44px;
    
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50px;

    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.15rem;

    z-index: 2;

    cursor: pointer;

    

    &--green {
        border: none;
        background: #1db954;
    }

    &:hover {
        background: #1ed680;
    }
}