.preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  justify-self: flex-start;

  margin: 8px;
  transition: 0.2s;

  font-size: 0.8rem;

  &_circle {
    border-radius: 50%;

    &:before {
      border-radius: 50%;
    }
  }

  &_square {
    border-radius: 0;
  }

  &:hover {
    .preview_cover {
      &:before {
        opacity: 0.6;
      }
    }

    .preview_play {
      opacity: 1;
      z-index: 2;
    }
  }

  &_cover {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      height: 207px;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: #181818;
      opacity: 0;
      transition: 0.3s;
      z-index: 1;
    }
  }

  &_img {
    width: 207px;
    height: 207px;
  }

  &_play {
    position: absolute;
    width: 36px;
    height: 36px;
    opacity: 0;
    transition: 0.2s;

    &:hover {
      transform: scale(1.3);
      opacity: 1;
      z-index: 2;
    }
  }

  &_title {
    margin: 12px 0 4px;
    font-weight: bold;
  }

  &_artist {
    opacity: 0.6;
    margin: 6px 0 4px;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 768px) {
  .preview {
    align-self: center;
    justify-self: center;

    &_img {
      width: 121px;
      height: 121px;
    }
  }
}