.track {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 54px;
    padding: 6px 8px;
    transition: .3s;

    &:hover {
        background-color: rgba(0, 0, 0, .3);
    }

    &_info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        width: 100%;
        margin: 0 0 0 4px;
    }

    &_play {
        align-self: flex-start;
        margin: 10px 4px 0 0;
        cursor: pointer;
    }

    &_title {
        padding: 0 8px;
    }

    &_duration {
        opacity: .6;
    }

    &_cover {
        display: inline-block;
        vertical-align: top;
        height: 50px;
        width: 50px;
        margin: 0 8px;
    }

    &_artist {
        padding: 0 8px;
        opacity: .6;

        &:hover {
            text-decoration: underline;
        }
    }
}