$backgroundColor: #282828;
$baseBarColor: #404040;
$activeBarColor: green;

.player {
  &_duration {
    grid-area: range;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;

    &:hover {
      .progress_slider {
        opacity: 1;
      }

      .progress_base {
        background: $activeBarColor;
      }
    }

    &_time {
      margin: 0 8px;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: .015em;
    }
  }
}

.progress {
  grid-area: range;
  position: relative;
  height: 4px;
  width: 100%;
  background: $baseBarColor;
  border-radius: 2px;
  z-index: 2;

  &_base {
    position: absolute;
    height: 4px;
    width: 0%;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    background: #b3b3b3;
    transition: 0.2s;
  }

  &_slider {
    position: absolute;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    left: 0%;
    bottom: -4px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
  }
}