.albums {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(205px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
    position: relative;
}

.albums-chart {
    margin: 44px;

}