.cover {
  position: relative;
  height: 100%;
  width: 100%;
  color: white;

  &--black {
    background: #181818;
  }

  &_header {
    display: flex;
    justify-content: center;
    align-items: center;

    &--height {
      height: 300px;
    }

    &_color-wrapper {
      &:before {
        content: "";
        position: absolute;
        height: 300px;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: linear-gradient(transparent -30%, #181818);
      }
    }
  }
}
